apiVersion: newrelic.com/v1beta2
kind: Instrumentation
metadata:
  name: newrelic-instrumentation
  # REMOVED 'namespace: argocd' so it follows the destination namespace (newrelic)
  annotations:
    # 1. Skip dry-run validation errors
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    # 2. DELAY this resource until the Operator (Wave 0) is ready
    argocd.argoproj.io/sync-wave: "1"
spec:
  agent:
    language: python
    image: newrelic/newrelic-python-init:latest
    env: []
  namespaceLabelSelector:
    matchExpressions:
      - key: "kubernetes.io/metadata.name"
        operator: "In"
        values: ["default"]
