apiVersion: newrelic.com/v1beta2
kind: Instrumentation
metadata:
  name: newrelic-instrumentation
  namespace: argocd
  annotations:
    # --- ADD THIS LINE ---
    # This tells ArgoCD: "Don't fail if you don't recognize this resource type yet."
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  agent:
    language: python
    image: newrelic/newrelic-python-init:latest
    env: []
  namespaceLabelSelector:
    matchExpressions:
      - key: "kubernetes.io/metadata.name"
        operator: "In"
        values: ["default"]
