global:
  cluster: "kirthi"
  customSecret: true
  customSecretName: "newrelic-license"
  customSecretLicenseKey: "license"
  lowDataMode: true
  privileged: true

nri-bundle:
  newrelic-infrastructure:
    enabled: true

  nri-kubernetes:
    enabled: true
    privileged: true

  nri-prometheus:
    enabled: true

  newrelic-logging:
    enabled: true
    lowDataMode: true

  newrelic-infra-operator:
    enabled: true

  newrelic-prometheus-agent:
    enabled: true
    lowDataMode: true
    config:
      kubernetes:
        integrations_filter:
          enabled: false




